Integromat/reliable_foods.json
{
    "name": "Reliable Foods",
    "flow": [
        {
            "id": 1,
            "module": "woocommerce:GetOrder",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 155100
            },
            "mapper": {
                "id": "9576"
            },
            "metadata": {
                "designer": {
                    "x": -656,
                    "y": -1
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "woocommerce2"
                            },
                            "label": "Joolama.co.ke"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:woocommerce2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "number",
                        "label": "Order ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "json:CreateJSON",
            "version": 1,
            "parameters": {
                "type": 11643,
                "space": ""
            },
            "filter": {
                "name": "Reliable Foods ",
                "conditions": []
            },
            "mapper": {
                "tags": "\"\"",
                "api_key": "53616584f2430b0141567f6b4a5378471ae0ccf22bd87b3a5f1d03c8",
                "team_id": "1259418",
                "latitude": "-1.2475099939190468",
                "order_id": "{{1.id}}",
                "timezone": "-180",
                "longitude": "36.75505013202561",
                "has_pickup": "1",
                "layout_type": "0",
                "has_delivery": "1",
                "tracking_link": "1",
                "customer_email": "{{1.billing.email}}",
                "customer_phone": "{{1.billing.phone}}",
                "auto_assignment": "1",
                "job_description": "Pick Up {{1.id}} Form Reliable Foods Logistics",
                "job_pickup_name": "Reliable Foods Logistics",
                "customer_address": "{{1.billing.address1}} {{1.billing.address2}}",
                "job_pickup_email": "operations@rfl-inc.com",
                "job_pickup_phone": "+254724038830",
                "customer_username": " {{1.billing.firstName}} {{1.billing.lastName}}",
                "job_pickup_address": "Enterprise Road",
                "job_pickup_datetime": "{{now}}",
                "job_pickup_latitude": "36.7689657211",
                "job_pickup_longitude": "-1.2433609",
                "job_delivery_datetime": "{{addHours(now; 1)}}"
            },
            "metadata": {
                "designer": {
                    "x": -258,
                    "y": -5,
                    "name": "Reliable Foods Payload"
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Mama Ashanti Tookan",
                            "nested": [
                                {
                                    "name": "api_key",
                                    "type": "text",
                                    "label": null,
                                    "default": "53616584f2430b0141567f6b4a5378471ae0ccf22bd87b3a5f1d03c8",
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "order_id",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "job_description",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "job_pickup_phone",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "job_pickup_name",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "latitude",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "longitude",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "job_pickup_address",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "job_pickup_email",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "job_pickup_latitude",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "job_pickup_longitude",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "job_pickup_datetime",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "job_delivery_datetime",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "customer_username",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "customer_email",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "customer_phone",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "customer_address",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "team_id",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "auto_assignment",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "has_pickup",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "has_delivery",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "layout_type",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "tags",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "tracking_link",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "timezone",
                                    "type": "text",
                                    "label": null,
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                }
                            ]
                        },
                        "space": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "api_key",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "order_id",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "job_description",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "job_pickup_phone",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "job_pickup_name",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "latitude",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "longitude",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "job_pickup_address",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "job_pickup_email",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "job_pickup_latitude",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "job_pickup_longitude",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "job_pickup_datetime",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "job_delivery_datetime",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "customer_username",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "customer_email",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "customer_phone",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "customer_address",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "team_id",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "auto_assignment",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "has_pickup",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "has_delivery",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "layout_type",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "tags",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "tracking_link",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "timezone",
                        "type": "text",
                        "label": null
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://api.tookanapp.com/v2/create_task",
                "data": "{{9.json}}",
                "gzip": true,
                "method": "post",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 56,
                    "y": -8
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}