Integromat/sendybik.json
{
    "name": "SENDY BIK",
    "flow": [
        {
            "id": 1,
            "module": "woocommerce:GetOrder",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 3079088
            },
            "mapper": {
                "id": "35392"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "__IMTCONN__": {
                        "label": "My WooCommerce connection"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "number",
                        "label": "Order ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "json:CreateJSON",
            "version": 1,
            "parameters": {
                "type": 203266,
                "space": ""
            },
            "mapper": {
                "email": "support@joolama.com",
                "password": "123456"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "LOGIN CREDENTIALS"
                },
                "restore": {
                    "type": {
                        "label": "Auth Airtime"
                    },
                    "space": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "email",
                        "type": "text"
                    },
                    {
                        "name": "password",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "json:CreateJSON",
            "version": 1,
            "parameters": {
                "type": 204105,
                "space": ""
            },
            "mapper": {
                "notes": "{{1.customerNote}}",
                "locations": [
                    {
                        "lat": "-1.2433609",
                        "long": "36.8759564",
                        "name": "BIK",
                        "note": "{{1.customerNote}}",
                        "type": "PICKUP",
                        "order_items": [
                            {
                                "ref_no": "{{1.lineItems[].id}}",
                                "checklist_items": [
                                    {
                                        "item_id": "{{1.lineItems[].sku}}",
                                        "category": "BIK",
                                        "quantity": "{{1.lineItems[].quantity}}",
                                        "description": "#",
                                        "display_name": "{{1.lineItems[].name}}",
                                        "display_img_link": "#"
                                    }
                                ]
                            }
                        ],
                        "waypoint_id": "{{substring(sha256(\"LT.--1.2433609LG.36.87595641\")10; 15; )}}"
                    },
                    {
                        "lat": "-1.2288445837374637",
                        "long": "36.79061094321118",
                        "name": "Replay House 242",
                        "note": "Call {{1.billing.phone}} On Arrival. ",
                        "type": "DELIVERY ",
                        "order_items": [
                            {
                                "ref_no": "{{1.lineItems[].id}}",
                                "checklist_items": [
                                    {
                                        "item_id": "{{1.lineItems[].productId}}",
                                        "category": "FOOD",
                                        "quantity": "{{1.lineItems[].quantity}}",
                                        "description": "#",
                                        "display_name": "{{1.lineItems[].name}}",
                                        "display_img_link": "#"
                                    }
                                ]
                            }
                        ],
                        "waypoint_id": "{{substring(sha512(\"LT.-1.2288445837374637 LG36.79061094321118\")10; 15; )}}"
                    }
                ],
                "recipient": {
                    "name": "{{1.billing.lastName}}{{1.billing.firstName}} ",
                    "email": "{{1.billing.email}}",
                    "phone": "{{1.billing.phone}}"
                },
                "order_type_tag": "dedicated_order",
                "ecommerce_order": "{{1.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "SENDY FOOD POST"
                },
                "restore": {
                    "type": {
                        "label": "FOOD SENDY"
                    },
                    "space": {
                        "label": ""
                    },
                    "locations": {
                        "mode": "chose",
                        "items": [
                            {
                                "order_items": {
                                    "mode": "chose",
                                    "items": [
                                        {
                                            "checklist_items": {
                                                "mode": "chose",
                                                "items": [
                                                    "undefined"
                                                ]
                                            }
                                        }
                                    ]
                                }
                            },
                            {
                                "order_items": {
                                    "mode": "chose",
                                    "items": [
                                        {
                                            "checklist_items": {
                                                "mode": "chose",
                                                "items": [
                                                    "undefined"
                                                ]
                                            }
                                        }
                                    ]
                                }
                            }
                        ]
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "ecommerce_order",
                        "type": "number"
                    },
                    {
                        "name": "recipient",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text"
                            },
                            {
                                "name": "email",
                                "type": "text"
                            },
                            {
                                "name": "phone",
                                "type": "text"
                            }
                        ],
                        "type": "collection",
                        "label": "recipient"
                    },
                    {
                        "name": "order_type_tag",
                        "type": "text"
                    },
                    {
                        "name": "notes",
                        "type": "text"
                    },
                    {
                        "name": "locations",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text"
                            },
                            {
                                "name": "waypoint_id",
                                "type": "text"
                            },
                            {
                                "name": "lat",
                                "type": "text"
                            },
                            {
                                "name": "long",
                                "type": "text"
                            },
                            {
                                "name": "name",
                                "type": "text"
                            },
                            {
                                "name": "note",
                                "type": "text"
                            },
                            {
                                "name": "order_items",
                                "spec": [
                                    {
                                        "name": "ref_no",
                                        "type": "text"
                                    },
                                    {
                                        "name": "checklist_items",
                                        "spec": [
                                            {
                                                "name": "item_id",
                                                "type": "number"
                                            },
                                            {
                                                "name": "category",
                                                "type": "text"
                                            },
                                            {
                                                "name": "display_name",
                                                "type": "text"
                                            },
                                            {
                                                "name": "quantity",
                                                "type": "number"
                                            },
                                            {
                                                "name": "display_img_link",
                                                "type": "text"
                                            },
                                            {
                                                "name": "description",
                                                "type": "text"
                                            }
                                        ],
                                        "type": "array"
                                    }
                                ],
                                "type": "array"
                            }
                        ],
                        "type": "array"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": "true"
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "http://20.110.22.177/api/login",
                "data": "{{2.json}}",
                "gzip": true,
                "method": "post",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "LOGIN"
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": []
                    },
                    "method": {
                        "mode": "chose",
                        "label": "POST"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": []
                    },
                    "bodyType": {
                        "label": "Raw"
                    },
                    "contentType": {
                        "label": "JSON (application/json)"
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers",
                        "labels": {
                            "add": "Add a header",
                            "edit": "Edit a header"
                        }
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String",
                        "labels": {
                            "add": "Add parameter",
                            "edit": "Edit parameter"
                        }
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate",
                        "multiline": true
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": "true"
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "http://20.110.22.177/api/joolama/v1/sendy/bik/price_request",
                "data": "{{4.json}}",
                "gzip": true,
                "method": "post",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer {{5.data.token}}"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": true,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": true,
                "rejectUnauthorized": false
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": []
                    },
                    "method": {
                        "mode": "chose",
                        "label": "POST"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "bodyType": {
                        "label": "Raw"
                    },
                    "contentType": {
                        "label": "JSON (application/json)"
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers",
                        "labels": {
                            "add": "Add a header",
                            "edit": "Edit a header"
                        }
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String",
                        "labels": {
                            "add": "Add parameter",
                            "edit": "Edit parameter"
                        }
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate",
                        "multiline": true
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "shatter": false,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}
